/* Body text styling */
body {
    font-family: "Helvetica", "Arial", "Rodin", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF; /* White background */
    color: #333333; /* Dark gray text for readability */
    line-height: 1.6;
}

/* Logo styling */
.logo {
    width: 160px; /* Adjust size */
    height: auto;
    display: block;
    margin: 0 auto; /* Centers the logo horizontally */
    margin-bottom: 10px; /* Adds space between logo and title */
}

/* Header styling */
header {
    background-color: #002147; /* Dark Blue */
    color: #FFFFFF; /* White text */
    padding: 20px 0; /* Extra padding for spacing */
    text-align: center;
}

h1 {
    margin: 0;
    font-family: "Trebuchet MS", "Verdana", sans-serif;
    color: #002147; /* Dark Blue for headers */
    font-weight: bold;
}

/* Navigation styling */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #002147; /* Dark Blue */
}

nav li {
    margin: 0 15px;
}

nav a {
    font-family: "Trebuchet MS", "Verdana", sans-serif; /* Match header font */
    color: #FFFFFF; /* White text */
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-size: 2.0em; 
}

nav a:hover {
    background-color: #00AEEF; /* Light Blue */
}


/* Main and Section styling */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

/* Footer styling */
footer {
    background-color: #002147; /* Dark Blue */
    color: #FFFFFF; /* White text */
    text-align: center;
    padding: 10px 0;
}
